
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;700&family=Lora:wght@400;700&display=swap');
@import "tailwindcss";
@plugin "daisyui";



@plugin "daisyui" {
  themes: light --default;
}

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary:#5A8DEE;
  --color-secondary: #dbeafe;
  --color-base-200: #4db5ac;
  --color-base-300: #e7e7e7;
  --color-accent: #f3f4f6;

}
@plugin "daisyui/theme" {
  name: "dark";
  
  --color-primary: #5A8DEE;
  --color-secondary: #111827;
  --color-base-200: #1b263b;
  --color-base-300: #e7e7e7;
  --color-accent: #1f2937;
}
.lora-font {
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-weight: 400; 
  font-style: normal;
}
.logo-font {
  font-family: "Cinzel", serif;
  font-weight: 700;
  font-style: normal;
 
}